bin/Release
bin/Debug
*.swp
*.userprefs
**/obj
/packages
!/packages/*.config
/src/*.suo
/bin/*.nupkg
/src/.vs
/paket-files
/.fake
/.paket/paket.exe
/Aardvark.log
*.g.fs
/.paket/Paket.Restore.targets
*.domaincache
/src/LegacyCode/bin/Debug/netstandard2.0/LegacyCode.deps.json
/src/LegacyCode/bin/Debug/netstandard2.0/LegacyCode.dll
/src/LegacyCode/bin/Debug/netstandard2.0/LegacyCode.pdb
/src/LegacyCode/bin/Release/netstandard2.0/LegacyCode.deps.json
/src/LegacyCode/bin/Release/netstandard2.0/LegacyCode.dll
/src/LegacyCode/bin/Release/netstandard2.0/LegacyCode.pdb
/.paket