framework: netstandard2.0, net471, netcoreapp2.0, netcoreapp3.1
source https://api.nuget.org/v3/index.json
source https://vrvis.myget.org/F/aardvark_public/api/v3/index.json

nuget FSharp.Core                           >= 4.6.2 lowest_matching: true
nuget FSharp.Data                           ~> 3.1.1
nuget FSharp.Data.Adaptive                  ~> 1.0.0
                                            
nuget Aardvark.Base                         ~> 5.0.33
nuget Aardvark.Base.FSharp                  ~> 5.0.33

nuget Aardvark.Base.Rendering               ~> 5.0.21
nuget Aardvark.SceneGraph                   ~> 5.0.21
nuget Aardvark.SceneGraph.IO                ~> 5.0.21
nuget Aardvark.Scenegraph.OPC               ~> 5.0.21
nuget Aardvark.Rendering.Text               ~> 5.0.21
nuget Aardvark.Rendering.Vulkan             ~> 5.0.21                                        
nuget Aardvark.Application.Slim             ~> 5.0.21
nuget Aardvark.Application.Slim.GL          ~> 5.0.21
nuget Aardvark.Application.Slim.Vulkan      ~> 5.0.21

nuget Aardvark.Geometry                     ~> 5.0.33
nuget Aardvark.Geometry.Intersection        ~> 5.1.0
nuget Aardvark.Geometry.PolyMesh            ~> 5.1.0
                                            
nuget Aardvark.Service                      ~> 5.0.18
nuget Aardvark.UI                           ~> 5.0.18
nuget Aardvark.UI.Primitives                ~> 5.0.18

nuget Adaptify.MSBuild                      ~> 1.0.1

nuget Aardium                               ~> 1.1.0
nuget Uncodium.Eigensystems                 ~> 1.1.0

nuget FsPickler                             ~> 5.3.2
nuget FsPickler.Json                        ~> 5.3.2

nuget Silk.NET.Core                         ~> 1.7.0

nuget Aether                                ~> 8.3.1


nuget System.Security.Cryptography.Cng ~> 4.7.0


group Build
framework: netstandard2.0
source https://api.nuget.org/v3/index.json
github aardvark-platform/aardvark.fake:v5

nuget Fake.DotNet.Cli
nuget fake-cli ~> 5.20.4-alpha.1642